/* Hide modal initially */
.hidden {
  display: none;
}

/* Style the activated heart */
.activated-heart {
  color: red;
  font-size: 2rem;
}

/* Modal styling */
#modal {
  background-color: pink;
  color: red;
  font-size: 20px;
  padding: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid red;
  border-radius: 5px;
}
